html{
  font-family: monospace;
}
.giphy-li{
  list-style: none;
  width: 90%;
  border: 2px solid orange;
  background: black;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
}

.giphy-li img{
  width: 70%;
}

a{
  text-decoration: none;
}

#head{
  margin: 0 auto;
  height: 300px;
  width: 60%;
  text-align: center;
}

#box{

}

input{
  font-size: 15px;
  width: 50%;
}

.giphy-details{
  width: 110%;
  margin-top: 30px;
  margin-left: -150px;
  margin-bottom: 10px;
  display: table;
  border: 10px solid orange;
  border-radius: 10px;
  background: black;
  color: gold;
  padding: 10px;
}

#head img{
  height: 50%;
}

#search{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

ul{
  display: flex;
  flex-wrap: wrap;
}

#uldiv{
  width: 25%;
}
